<%
  require 'digest'

  # Generate form id, based on host and port
  form_id = Digest::SHA1.hexdigest("--" + host.to_s + "--" + port.to_s + "--")

  # Generate SHA256 digest of Code Server Password
  cookieValue = Digest::SHA256.hexdigest(password)
%>

<script>
var cookiesJs = document.createElement('script')
cookiesJs.id = 'cookiesJs'
cookiesJs.src = 'https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js'

var stimulusJs = document.createElement('script')
stimulusJs.id = 'stimulusJs'
stimulusJs.src = 'https://unpkg.com/stimulus/dist/stimulus.umd.js'

var scripts = [cookiesJs, stimulusJs]
scripts.forEach(function (script) {
  if (document.getElementById(script.id) == null) {
    document.head.appendChild(script)
  }
})

stimulusJs.onload = () => {
  (() => {
    const application = Stimulus.Application.start()

    application.register('code-server', class extends Stimulus.Controller {
      setCodeServerCookie (event) {
        event.preventDefault()

        let path = this.data.get('path')
        Cookies.set('key', this.data.get('password'), {
          expires: 7,
          path,
        })

        window.open(path, '_blank')
      }
    })
  })()
}
</script>

<form data-controller="code-server" data-action="code-server#setCodeServerCookie" data-code-server-path="/rnode/<%= host.to_s %>/<%= port.to_s %>/" data-code-server-password="<%= cookieValue %>">
  <button class="btn btn-primary">
    <i class="fa fa-cogs"></i> Connect to VS Code
  </button>
</form>
